/* line 1, ../sass/seven/_core.scss */
body {
  background: #FFF;
  color: #333;
  font-family: 'HelveticaNeue-Light',Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/seven/_core.scss */
a {
  color: fuchsia;
}

/* line 16, ../sass/seven/_core.scss */
h1, h2, h3 {
  font-weight: normal;
}

/* line 20, ../sass/seven/_core.scss */
h1 {
  color: rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 8em;
  letter-spacing: 0.1;
  line-height: 0.8;
  margin: 0 0 0.2em;
  padding: 0;
  text-align: justify;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 35, ../sass/seven/_core.scss */
h1:hover {
  color: rgba(0, 0, 0, 0.2);
}

/* line 1, ../sass/seven/_tables.scss */
table {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
  border-collapse: collapse;
  width: 100%;
  max-width: 50em;
}

/* line 9, ../sass/seven/_tables.scss */
thead {
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

/* line 16, ../sass/seven/_tables.scss */
tbody tr {
  background: rgba(0, 0, 0, 0.01);
  border-bottom: 2px solid #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 24, ../sass/seven/_tables.scss */
tbody tr:hover {
  background: rgba(0, 0, 0, 0.04);
}

/* line 30, ../sass/seven/_tables.scss */
th, td {
  padding: 0.5em 0.5em;
  text-align: center;
}

/* line 35, ../sass/seven/_tables.scss */
th:first-child, td:first-child {
  text-align: left;
}

/* line 1, ../sass/seven/_header.scss */
header {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1em;
}
/* line 7, ../sass/seven/_header.scss */
header .logo {
  color: #333;
  display: block;
  float: left;
  font-family: 'Bangers',Arial;
  padding: 0.75em 0;
  text-decoration: none;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 100px;
}
/* line 22, ../sass/seven/_header.scss */
header .logo:hover {
  color: #FC0;
  letter-spacing: 0.05em;
}
/* line 27, ../sass/seven/_header.scss */
header nav {
  float: right;
  width: auto;
}
@media only screen and (min-width: 320px) {
  /* line 27, ../sass/seven/_header.scss */
  header nav {
    background: red;
  }
}
/* line 36, ../sass/seven/_header.scss */
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 41, ../sass/seven/_header.scss */
header nav ul li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 47, ../sass/seven/_header.scss */
header nav ul li a {
  background-size: 64px 64px;
  color: #FFF;
  display: block;
  height: 64px;
  text-indent: -9999px;
  transition: all 0.5s ease;
  width: 64px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* line 59, ../sass/seven/_header.scss */
header nav ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
/* line 66, ../sass/seven/_header.scss */
header nav ul li a:hover + ul {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}
/* line 73, ../sass/seven/_header.scss */
header nav ul li.home > a {
  background: url(/img/icons/home.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 73, ../sass/seven/_header.scss */
  header nav ul li.home > a {
    background-image: url(/img/icons/home@2x.png);
    background-size: 64px 64px;
  }
}
/* line 82, ../sass/seven/_header.scss */
header nav ul li.pool > a {
  background: url(/img/icons/cue-ball.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 82, ../sass/seven/_header.scss */
  header nav ul li.pool > a {
    background-image: url(/img/icons/cue-ball@2x.png);
    background-size: 64px 64px;
  }
}
/* line 91, ../sass/seven/_header.scss */
header nav ul li.darts > a {
  background: url(/img/icons/darts.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 91, ../sass/seven/_header.scss */
  header nav ul li.darts > a {
    background-image: url(/img/icons/darts@2x.png);
    background-size: 64px 64px;
  }
}
/* line 100, ../sass/seven/_header.scss */
header nav ul li.fifa > a {
  background: url(/img/icons/football.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 100, ../sass/seven/_header.scss */
  header nav ul li.fifa > a {
    background-image: url(/img/icons/football@2x.png);
    background-size: 64px 64px;
  }
}
/* line 109, ../sass/seven/_header.scss */
header nav ul li.users > a {
  background: url(/img/icons/user.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 109, ../sass/seven/_header.scss */
  header nav ul li.users > a {
    background-image: url(/img/icons/user@2x.png);
    background-size: 64px 64px;
  }
}
/* line 118, ../sass/seven/_header.scss */
header nav ul li ul {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 0;
}
/* line 124, ../sass/seven/_header.scss */
header nav ul li ul li {
  display: inline-block;
}
/* line 127, ../sass/seven/_header.scss */
header nav ul li ul li a {
  padding: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 1, ../sass/seven/_footer.scss */
footer {
  background: rgba(0, 0, 0, 0.05);
  color: #999;
  font-size: 0.7em;
  padding: 5em;
  text-align: center;
}

/* line 1, ../sass/seven/_cta.scss */
.cta {
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 15, ../sass/seven/_cta.scss */
.cta:hover {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em 2em;
}

/* line 21, ../sass/seven/_cta.scss */
.actions h3 {
  float: left;
  text-indent: -9999em;
}
/* line 25, ../sass/seven/_cta.scss */
.actions ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
/* line 30, ../sass/seven/_cta.scss */
.actions ul li {
  display: inline-block;
  float: left;
}
/* line 34, ../sass/seven/_cta.scss */
.actions ul li a {
  background: rgba(0, 0, 0, 0.05);
  color: #666;
  display: block;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0 1px 0 0;
}
/* line 42, ../sass/seven/_cta.scss */
.actions ul li a:hover, .actions ul li a:focus {
  background: transparent;
  color: #000;
}

/* line 55, ../sass/seven/_cta.scss */
.paging {
  overflow: hidden;
  text-transform: uppercase;
}
/* line 60, ../sass/seven/_cta.scss */
.paging .prev,
.paging .next {
  display: inline-block;
  font-size: 0.7em;
  padding: 1em;
}
/* line 66, ../sass/seven/_cta.scss */
.paging .disabled {
  color: rgba(0, 0, 0, 0.3);
}
/* line 69, ../sass/seven/_cta.scss */
.paging .prev {
  float: left;
}
/* line 73, ../sass/seven/_cta.scss */
.paging .next {
  float: right;
}

@keyframes pulse {
  /* line 3, ../sass/seven/_players.scss */
  from {
    -webkit-transform: scale(1);
  }

  /* line 7, ../sass/seven/_players.scss */
  to {
    -webkit-transform: scale(1.2);
  }
}
/* line 14, ../sass/seven/_players.scss */
.head-to-head h1 {
  font-size: 3rem;
  max-width: 60rem;
  margin: 2rem auto;
  overflow: hidden;
}
/* line 20, ../sass/seven/_players.scss */
.head-to-head h1 .player {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 40%;
}
/* line 28, ../sass/seven/_players.scss */
.head-to-head h1 .player .avatar {
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
/* line 35, ../sass/seven/_players.scss */
.head-to-head h1 .player.winner {
  color: rgba(255, 0, 204, 0.5);
}
/* line 38, ../sass/seven/_players.scss */
.head-to-head h1 .player.winner .avatar {
  animation-duration: 1s;
  animation-name: pulse;
}
/* line 45, ../sass/seven/_players.scss */
.head-to-head h1 .vs {
  display: inline-block;
  float: left;
  font-size: 1.5rem;
  margin: 5rem 0 0;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}
/* line 57, ../sass/seven/_players.scss */
.head-to-head .meta {
  color: #666;
  text-align: center;
}

/* line 64, ../sass/seven/_players.scss */
.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 73, ../sass/seven/_players.scss */
.avatar.avatar-lg {
  width: 100px;
  height: 100px;
}
/* line 78, ../sass/seven/_players.scss */
.avatar:hover {
  border: 2px dotted #333;
  -webkit-transform: rotation(5deg);
}

/* line 85, ../sass/seven/_players.scss */
fieldset.player-1,
fieldset.player-2 {
  background: #EEE;
  border: 0;
  float: left;
  margin: 0 2.5%;
  padding: 0;
  width: 45%;
}
/* line 95, ../sass/seven/_players.scss */
fieldset.player-1 legend,
fieldset.player-2 legend {
  color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}
/* line 102, ../sass/seven/_players.scss */
fieldset.player-1 label,
fieldset.player-2 label {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}

/* line 110, ../sass/seven/_players.scss */
fieldset.player-1 {
  text-align: right;
}
/* line 113, ../sass/seven/_players.scss */
fieldset.player-1 input, fieldset.player-1 select {
  text-align: right;
}

/* line 118, ../sass/seven/_players.scss */
fieldset.other {
  clear: left;
}

/* line 1, ../sass/seven/_user-scroll.scss */
.user-scroll {
  /*   background:-webkit-linear-gradient(#ffffff 0%, rgba(0,0,0,0.25) 100%); */
  border: none;
  display: inline-block;
  height: 150px;
  overflow: scroll;
  overflow-y: auto;
  padding: 0;
  position: relative;
  width: 45%;
  /*
    legend {
      margin-top: 1em;
      margin: 0 auto;
      position: fixed;
      left: 50%;
    }
  */
}
/* line 22, ../sass/seven/_user-scroll.scss */
.user-scroll div {
  width: 220%;
}
/* line 25, ../sass/seven/_user-scroll.scss */
.user-scroll label {
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px;
  width: 100px;
  height: 100px;
  position: relative;
  white-space: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5;
}
/* line 39, ../sass/seven/_user-scroll.scss */
.user-scroll label.is-selected {
  background: rgba(255, 120, 0, 0.5);
  -webkit-transform: scale(1.3);
  z-index: 10;
}
/* line 44, ../sass/seven/_user-scroll.scss */
.user-scroll label:active {
  background: rgba(255, 120, 0, 0.9);
}
/* line 48, ../sass/seven/_user-scroll.scss */
.user-scroll label input {
  display: none;
}
/* line 52, ../sass/seven/_user-scroll.scss */
.user-scroll label img {
  display: block;
  width: 100px;
}
/* line 56, ../sass/seven/_user-scroll.scss */
.user-scroll label span {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFF;
  left: 0;
  padding: 1em;
  position: absolute;
  opacity: 0;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 75, ../sass/seven/_user-scroll.scss */
.user-scroll label:hover span {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
