body {

  background: #FFF;
  color: #333;
  font-family: 'HelveticaNeue-Light',Helvetica,Arial,sans-serif;

  margin: 0;
  padding: 0;
  
}

h1, h2, h3 {
  font-weight: normal;
}

table {
  background: rgba(255,255,255,0.9);
  color: rgba(0,0,0,0.8);
}

thead {
  text-transform: uppercase;
  color: rgba(0,0,0,0.2);
}

th, td {
  padding: 0.25em 0.5em;
  text-align: center;
}
th:first-child, td:first-child {
  text-align: left;
}

header {

  background: rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 1em;
  
  .logo {
    display: block;
    float: left; 
    width: 100px;
    padding: 0.75em 0;
  }

  nav {
  
    float: left;
    
    ul {
      margin: 0;
      padding: 0;
      
      li {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;

        a {
          background-size: 64px 64px;
          color: #FFF;
          display: block;
          height: 64px;
          text-indent: -9999px;
          transition: all 0.5s ease;
          width: 64px;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;

          &:hover {
            opacity: 0.6;
          }
          
        }

        &.home > a {
          background: url(/img/icons/home.png) no-repeat 0 0;
        }

        &.pool > a {
          background: url(/img/icons/cue-ball.png) no-repeat 0 0;
        }

        &.fifa > a {
          background: url(/img/icons/football.png) no-repeat 0 0;
        }

        &.users > a {
          background: url(/img/icons/user.png) no-repeat 0 0;
        }
        
        ul {
          display: inline-block;
          position: absolute;
          top: 70px;
          left: 0;
        }
        
      }
    
    }
  
  }

}
footer {
  background: rgba(0,0,0,0.05);
  padding: 5em;
  text-align: center;
}

h1 {
  color: rgba(0,0,0,0.1);
  font-weight: 900;
  font-size: 8em;
  letter-spacing: 0.1;
  line-height: 0.8;
  margin: 0 0 0.2em;
  padding: 0;
  text-align: justify;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
h1:hover {
  letter-spacing: -0.1em;
  color: rgba(0,0,0,0.2);
}

.cta {
  background: rgba(0,0,0,0.5);
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cta:hover {
  background: rgba(0,0,0,0.8);
  padding: 0.5em 2em;
}

.actions {
  h3 {
    float: left;
    text-indent: -9999em;
  }
  ul {
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      display: inline-block;
      float: left;
      
      a {
        background: rgba(0,0,0,0.05);
        color: #666;
        display: block;
        font-size: 0.8em;
        padding: 0.5em;
        margin: 0 1px 0 0;

        &:hover, &:focus {
          background: rgba(0,0,0,0);
          color: #000;
        }
        
      }

    }

  }
  
}

.paging {

  overflow: hidden;
  text-transform: uppercase;
  
  .prev,
  .next {
    display: inline-block;
    font-size: 0.7em;
    padding: 1em;
  }
  .disabled {
    color: rgba(0,0,0,0.3);
  }
  .prev {
    float: left;
  }

  .next {
    float: right;
  }
  
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  header nav ul li.home > a {
    background-image: url(/img/icons/home@2x.png);
    background-size: 64px 64px;
  }
  header nav ul li.pool > a {
    background-image: url(/img/icons/cue-ball@2x.png);
    background-size: 64px 64px;
  }
  header nav ul li.fifa > a {
    background-image: url(/img/icons/football@2x.png);
    background-size: 64px 64px;
  }
  header nav ul li.users > a {
    background-image: url(/img/icons/user@2x.png);
    background-size: 64px 64px;
  }
}
